# ==============================
# Python
# ==============================
backend/.venv/
backend/__pycache__/
backend/app/__pycache__/
*.pyc
*.pyo

# Environment variables
backend/.env

# ==============================
# Node
# ==============================
frontend/node_modules/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/
